<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/calendar.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body>
  <header>
      <span>Special Reminders: </a></span>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/home/homework"><li>HomeWork</li></a>
    <a href="/home/current"><li>Current Units</li></a>
    <a href="/home/students"><li>Students</li></a>
    <a href="/home/classDojo"><li>Class Dojo</li></a>
  </ul>
  
</div>

  
    <img class="displayed" src="/images/june.jpg" alt="calendar">

</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"> </script>
<script src="/js/calendar.js"></script>