<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/classDojo.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
    <span>ClassDojo! </a></span>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </header>
  
  <div class="menu">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/home/homework"><li>HomeWork</li></a>
      <a href="/home/current"><li>Current Units</li></a>
      <a href="/home/students"><li>Students</li></a>
      <a href="/home/calendar"><li>Calendar</li></a>
    </ul>
    
  </div>
  
    <img class="displayed" src="/images/classdojo.jpg" alt="class dojo">
  
  <div class="container2">
  <p>Exciting and important news :)</p>

    <p class="container">
    Our class is using ClassDojo!  
    This year I'm using ClassDojo to encourage important skills, like working hard and participating. 
    I'll also use it to communicate with you: we can instantly share messages, updates and photos from class. 
    It's the easiest way for you to see how much your child is doing at school and to get in touch with me.
    Through ClassDojo, students can receive daily rewards for positive behaviors in the class. 
    Students can also lose points when making poor choices. You will be notified when your child earns or loses points. 
    At the end of each week, students can use their points to shop for special prizes!
    I'd like all families to join me and sign up for ClassDojo! You can use it on any device: it is a simple, free mobile app for iOS and Android, 
    and can also be used from a computer at: <a href="https://www.classdojo.com">ClassDojo.com</a> 
    Please be sure to turn on notifications and check the app daily as I will be using it to message you about important information.
    
  </p>
  
  </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"> </script>
<script src="/js/calendar.js"></script>