<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/current.css"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
    <span>Current Units! </a></span>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </header>
  
  <div class="menu">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/home/homework"><li>HomeWork</li></a>
      <a href="/home/calendar"><li>Calendar</li></a>
      <a href="/home/students"><li>Students</li></a>
      <a href="/home/classDojo"><li>Class Dojo</li></a>
    </ul>
  </div>   
  <div class="container"> 
  <table>
    <tr>
      <th class="color1" >Subject</th>
      <th class="color1">Unit</th> 
    </tr>
    <tr class="color2">
      <td>Reading</td>
      <td>Reading Nonfiction Cover to Cover: NOnfiction Book Clubs</td> 
    </tr>
    <tr class="color3">
      <td>Writing</td>
      <td>Lab Reports and Science Books</td> 
    </tr>
    <tr class="color4">
      <td>Math</td>
      <td>Time, Shapes, and Fractions as Equal Parts of Shapes</td> 
    </tr>
    <tr class="color5">
      <td>Science</td>
      <td>Plant Diversity</td> 
    </tr>
    <tr class="color6">
      <td>Social Studies</td>
      <td>Rights, Rules, Responsibilities</td> 
    </tr>
  </table>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"> </script>
<script src="/js/calendar.js"></script>