<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Kindness teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/home.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>
    <div class="header">
        <h1>The Kindness Class</h1>
        <h3>Welcome to Miss Rodriguez's 2<sup>nd</sup> Classroom!</h3>
        <a class="button" href="/home/classDojo">Class Dojo</a>
        <a class="button" id="color2" href="/home/homework">Homework</a>
        <a class="button" id="color3" href="/home/current">Current Units</a>
        <a class="button" id="color4" href="/home/calendar">Class Events</a>
        <a class="button" id="color5" href="/home/students">Students</a>
        



      </div>
      <div></div>
       
    <div class="container">
        <h3>About Me</h3>
        <img src="images/amanda.jpg" alt="Amanda Rodriguez" class="photo">
       
        
        <p> Hi friends! My name is Amanda Rodriguez. I’m a 2nd grade public school teacher in Brooklyn, NY and a kindness enthusiast! 
            I believe strongly in implementing kindness daily. As important as the curriculum is, I believe it’s important for students to learn how to treat others. 
            I enjoy decorating my classroom, planning engaging lessons, downloading fonts, and making learning come to life for my students! When I’m not teaching, 
            I love to travel and watch TV with my loving fiancé Justin. Between wedding planning, teaching, and all that comes in between, 
            life can get a bit crazy but I wouldn’t change it for the world. Welcome to the Kindness Class!
        </p>

    </div>
    <div class="instagram">
        <p>Contact:</p> 
         send an email to <a class="color7" href="mailto:msrodriguez201@gmail.com">MsRodriguez201@gmail.com</a>
         
         <p>Follow me on instagram!</p>
        <a href="https://www.instagram.com/thekindnessteacher/" class="fa fa-instagram"></a> </div>
    


</body>
</html>



<!-- <script src="main.js"></script> -->