<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/homework.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
    <span>Homework! </a></span>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </header>
  
  <div class="menu">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/home/calendar"><li>Calendar</li></a>
      <a href="/home/current"><li>Current Units</li></a>
      <a href="/home/students"><li>Students</li></a>
      <a href="/home/classDojo"><li>Class Dojo</li></a>
    </ul>
    
  </div>
  <div class="container">     
            <img src="/images/MayReadingLog.jpg" alt="blah" class="photo">
            <p>Students will have Reading, Writing, and Math homework daily. 
              After students read, they should fill out their reading log. Each month, students will receive a new writing calendar with daily writing prompts. All writing homework should be completed in their Writing notebooks. 
              Students are assigned math pages based off of the lesson we complete that day. 
              All homework information can be found on your child’s Weekly Homework paper in their take-home folder.
               </p>
               <a href="/images/MayreadingLog.jpg" download><p>
                Click Here to download a new copy of the May Reading Log!</p>
              </a>
           
           
            
      </div>   
  <div class="container2">
            <img src="/images/MayWritingCalendar.jpg " alt="blah" class="photo">
            <a href="/images/MayWritingCalendar.jpg" download><p>
              Click Here to download a new copy of the May Writing Calendar!</p>
            </a>
  </div>

           
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"> </script>
<script src="/js/calendar.js"></script>