<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/students.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
        <span>Students! </a></span>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </header>
  
  <div class="menu">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/home/homework"><li>HomeWork</li></a>
      <a href="/home/current"><li>Current Units</li></a>
      <a href="/home/calendar"><li>Calendar</li></a>
      <a href="/home/classDojo"><li>Class Dojo</li></a>
    </ul>
  </div>
  <div class="IMAGES">
    
    <a class="position" href="https://www.kidsa-z.com/main/Login"><img src="/images/slide1.jpg" alt="blah"></a>
    <a class="position" href="https://www.ixl.com/signin"><img src="/images/slide2.jpg" alt="blah"></a>
    <a class="position" href="https://www.getepic.com/students"><img src="/images/slide6.jpg" alt="blah"></a>
    <a class="position" href="https://jr.brainpop.com/"><img src="/images/slide3.jpg" alt="blah"></a>
    <a class="position" href="https://www.myon.com/login/index.html"><img src="/images/slide5.jpg" alt="blah"></a>
    <a class="position" href="https://www.abcya.com/grades/2"><img src="/images/slide4.jpg" alt="blah"></a>
  </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"> </script>
<script src="/js/calendar.js"></script>