body {
  background: black;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}
span {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10%;
}
p {
  font-family: 'Amatic SC', cursive;
  color: white;
  margin-left: 21%;
  margin-right: auto;
  width: 60%;
  font-size: 150%;
  padding-bottom: 10%;
}
header {
  
  padding-bottom: 5%;
  background:white; 
  height: 100%; 
  line-height:250%;
  text-align: center;
  background: white;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
 
    
}
.hamburger
{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross
{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu
{
  z-index:1000000; 
  font-weight:bold; 
  /* width:98.75%;  */
  width: 100%;
  background:white; 
  position:absolute; 
  text-align:center; 
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
  
  
}
.menu ul 
{
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu li 
{
  display: block;   
  padding:15px 0 15px 0; 
  border-bottom: black 1px solid;
  color: black;
  font-size: 50%;
 
}
.menu li:hover
{
  display: block; 
  background:#f9e645; 
  padding:15px 0 15px 0; 
  
}
.menu ul li a 
{ 
  text-decoration:none;  
  margin: 0px; 
  color: white;
}
.menu ul li a:hover 
{  
  color: #51f843; 
  text-decoration:none;
}
.menu a
{
  text-decoration:none; 
  color: white;
}
.menu a:hover
{
  text-decoration:none; 
  color: #f5f5f5;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
/* header
{
  display:inline-block; 
  font-size:12px;
} */

a
{
  color: white;
}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

 
}
table {
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  font-size: 400%
}
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
  }
th {
  margin: auto;
  text-align: center;
  padding: 3%;
}
 td {
  margin: auto;
  text-align: center;
  padding: 3%
 } 
 .container {
   padding-bottom: 10%;
 }
 .color1 {
   background-color: #fc71b4;;
   color: white;
 }
 .color2 {
  background:#f5a62c;
  color: white;
}
.color3 {
  background:#f9e645;
  color: white;
}
.color4 {
  background: #51f843;
  color: white;
}
.color5 {
  background: #4dd7f9;
  color: white;
}
.color6 {
  background: #a75cfb;
  color: white;
}

@media screen and (max-width:959px){
  html {
    width: 100%;
  }
  img {
    
    width: 80%;
  }
  table {
    width: 80%;
    font-size: 150%;
  }
}